.filterContainer{
  position: relative;
  margin: 0 auto;
border: 1px solid red;
}

.filterTitle{
  text-align: center;
}

.filterInput{
margin-left: 20px;

}

.iconFilter{
position: absolute;
left: 30px;
top: 70px;
}